<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bulk legislation</title>
  </head>
  <body>
    <div>
      <h2>Dear Admin,</h2>
      <h4>Following new legislation are added in CRS:</h4>
      <ul>
        <li>No of record saved : {{saveCnt}}</li>
        <li>No of record failed to save : {{errorCnt}}</li>
        {{!-- <li>
          Uploaded Record file path :
          <a href="{{downloadPath}}">Click here</a>
        </li> --}}
      </ul>
      <br />
      <h3>Thanks & Regards</h3>
      <h4>CRS Admin</h4>
    </div>
  </body>
</html>